
* {
    padding: 0;
    margin: 0;
  }

  @font-face {
    font-family: "FuturaStdBold";
    src: url("assets/fonts/FuturaStdBold.otf");
  }

  @font-face {
    font-family: "FuturaStdBook";
    src: url("assets/fonts/FuturaStdBook.otf");
  }
  

  body {

    font-family:"FuturaStdBook", sans-serif ;
  }

.navBar {

background-color: #1a1a1a;
height: 50px;
display: flex;
justify-content: space-between;

}

.texto_inicio_desk {


    display: none;
}

.navBar img {
    height: 50px;
}



.button_nav {

   
    cursor: pointer;
}

.button_nav:hover {

    background-color:black;
    
}

#button_link {

border-right: 1px solid white;

}

.menu_morado {
display: none;

}
.menu_categorias {


    display: none;
}

.search {


    display: none;
}

.header {

    background-image: url("assets/img/Header/head-bg-mb@2x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.contenedor_button_electro {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    
}

.button_electro {
    text-align: center;
    width: 300px;
    height: 38px;
    border: 2px solid #ffce0e;
    background: transparent;
    color: #ffce0e;
    cursor: pointer;    
}

.texto_sustentable p {
    margin-top: 40px;
    margin-left: 20px;
    color: white;
    font-size: 21px;
}
.texto_sustentable span {

    margin-left: 32px;
    color: #ffce0e;
    font-size: 21px;
}

.banner {

    display: flex;
}

.logo_electro {

    width: 205px;
    margin-top: 45px;
}

.logo_chica img{
    height: 228px;
    margin-top: 10px;
}
.logo_chica2 {

    display: none;
}


.texto_sustentable {

    height: 50px;
}


.categorias {
    display: flex;
    justify-content: space-between;
    background: #fece0c;
}

.transporte {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
}

.transporte:hover {
    box-shadow: 2px 2px 10px gray;
    transition: 0.5s ease-in-out;
  }


  .transporte:nth-child(even) {
    background:#e8b30d;
  }


.transporte img{

    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.transporte p {
    color: #8c004b;
}


.electroMovilidad {
    margin-top: 25px;
}


/* .electroMovilidad img{

    margin: auto;
    display: block;

} */

.electroMovilidad p{

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 21px;
}

.texto_desk {

    display: none;
    }

.scooter_desk {

    display: none;
}
.llamado {

    width: 85%;

}

.llamado2 {

display: none;
}

.scooter_title {
    margin: auto;
    width: 90%;
}

.button_carousel1 {

color: #682666 ;
border: 2px solid #682666;
text-align: center;
width: 200px;
height: 38px;
background: transparent;


}




.carousel2 {

    text-align: center;

}

.carousel1 h1 {

    font-size: 15px;
    font-weight: bold;
    text-align: center;
}



.carousel1 span {

    color:  #682666;
}


.carousel2 h1 {

    color: #fece0c;
    font-weight: bold;
}

.carousel2 span {

    color:  #682666;

}





.boton_carousel {

    background:#fece0c ;
    width: 306px;
    margin: auto;
    padding-bottom: 15px;
    color: #6a2564;

}


  






@media only screen and (min-width: 600px) {
   
    .navBar {

        justify-content: space-evenly;

    }
    #carro {
        
            
            margin-right: 100px;

    }

    .menu_categorias {

        display: flex;
        align-items: center;
        color: white;
    }

    .search {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 25px;
        box-sizing: border-box;
        display: block;
    }
    #lupa, #inicio, #menu {


        display: none;
    }
    #button_link {
        border-right: none;
    }

    .texto_inicio_desk {

        display: flex;
        align-items: center;
        color: white;

    }


    .menu_morado {

        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #682666;
        display: block;

    }
    .header {

        background-image: url("assets/img/Header/head-desk-@2x.jpg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
;

    }
    
    .logo_chica {
        display: none;
    }
    .logo_chica2 {
        display: block;
    }
    .logo_chica2 img {

        position: relative;
        bottom: -105px;
        height: 450px;
        right: 28px;
    }
    .categorias {

       
        width: 360px;
        position: absolute;
        bottom: 0;
        margin-left: 430px;
        margin-bottom: 37px;
                
    }
    .llamado {

        display: none;
    }
    .llamado2 {
        display: block;
        width: 35%;
        margin-top: 30px;
        margin-right: 215px;
    }

    .electromov_log_texto {
        
        position: relative;
        left: 25px;
        
    }

    .contenedor_button_electro {
        
        justify-content: right;
        padding-bottom: 10px;
        margin-right: 308px;

    }
    .electroMovilidad {

        margin-top: 25px;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 120px;



    }

    .electroMovilidad p {
        
        
        text-align: right;
        padding: 0 0 0 100px;
        
    }

    .logo_electro {
        width: 375px;
        margin-top: 90px;


  }

  .texto_sustentable {
    margin-top: 13px;
    margin-left: 45px;
  }

  .texto_sustentable p {

    display: inline;
    margin-left: 8px;
  }

  .texto_sustentable span {
    margin-left: 2px;
  }

  .scooter_desk {

    display: block;
}

.scooter_desk img{

    height: 300px;
    background: #e8b30c;
}


.scooter_title {
    display: none;
}
.texto_mb {

display: none;
}

.texto_desk {
text-align: right;
display: block;
}


.contenedor_button_electro {
   
    padding-bottom: 10px;
    position: absolute;
    bottom: 115px;
    right: -11px;
}


.carousel1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button_scooter_desk {

    text-align: center;
    width: 300px;
    height: 38px;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;  
     
}
.boton_carousel p span {

    font-size: 10px;
}

.boton_carousel p  {

    padding-bottom: 10px;
}

.button_carousel3 {

    color:  black ;
    border: 2px solid black;
    background: transparent;
    cursor: pointer;
    width: 250px;
    height: 35px;


}


.slider{
    width:85%;
    margin:10px auto;
    text-align: center;
    padding:10px;
    color:#e8b30d;
    
  }
  .slider parent-slide{
    padding:10px;

  }

 .slider img{
     
    display: block;
    margin:auto;
    background:#fece0c ;
}


.slide, .slick-slide, .slick-cloned, .slick-active {
    width: 340px !important;

}

.carousel2 h1 {
    
    font-size: 55px;

}

.carousel2 span {
    
    font-size: 25px;
}

.button_carousel4 {
    color: #682666 ;
    border: 2px solid #682666;
    text-align: center;
    width: 200px;
    height: 38px;
    background: transparent;
    cursor: pointer;
}


}